@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Cute+Font&family=Julee&family=Major+Mono+Display&family=Press+Start+2P&family=Smooch+Sans:wght@200;400;600&family=Tourney:wght@400;500;900&display=swap");
body {
  overflow: hidden;
}

.intro-text {
  font-family: Tourney;
}

.full-identity {
  font-family: Julee;
}

.menu-items {
  font-family: Major Mono Display;
}

.header-content {
  /* color: red; */
}

.page-content {
  /* color: red; */
  font-family: Alkatra;
  font-size: 1.3rem;
  font-weight: 400;
}

.menu-content {
  /* color: red; */
}

ol {
  list-style-type: none;
  counter-reset: my-counter;
}

ol li {
  position: relative;
  padding-left: 30px;
  line-height: 1;
}

ol li::before {
  content: counter(my-counter, decimal-leading-zero);
  counter-increment: my-counter;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 15px;
}
