@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Cute+Font&family=Julee&family=Major+Mono+Display&family=Press+Start+2P&family=Smooch+Sans:wght@200;400;600&family=Tourney:wght@400;500;900&display=swap");
body {
  overflow: hidden;
}

a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  right: 100%;
  position: absolute;
  transition: width 0.3s ease 0s, right 0.3s ease 0s;
  width: 0;
}
a:hover:after {
  width: 105%;
  right: 0;
}

.intro-text {
  font-family: Tourney;
}

.full-identity {
  font-family: Julee;
}

.others {
  font-family: Cute Font;
}

.menu-items {
  font-family: Major Mono Display;
}

.photo {
}

.page-content {
  font-family: Alkatra;
}

ol {
  list-style-type: none;
  counter-reset: my-counter;
}

ol li {
  position: relative;
  padding-left: 30px;
  line-height: 1;
}

ol li::before {
  content: counter(my-counter, decimal-leading-zero);
  counter-increment: my-counter;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 15px;
}
