@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Cute+Font&family=Darumadrop+One&family=Julee&family=Major+Mono+Display&family=Press+Start+2P&family=Smooch+Sans:wght@200;400;600&family=Tourney:wght@400;500;900&display=swap");

a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  right: 100%;
  position: absolute;
  transition: width 0.3s ease 0s, right 0.3s ease 0s;
  width: 0;
}
a:hover:after {
  width: 105%;
  right: 0;
}

html,
body {
  overflow-x: hidden;
}

hr {
  border-top: solid;
}

.dark {
  background-color: black;
  color: white;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 5px;
  z-index: 20;
}

ol {
  list-style-type: none;
  counter-reset: my-counter;
}

ol li {
  position: relative;
  padding-left: 30px;
  line-height: 1;
}

ol li::before {
  content: counter(my-counter, decimal-leading-zero);
  counter-increment: my-counter;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 15px;
}

.h-90 {
  height: 90vh;
}

.h-70 {
  height: 75vh;
}

.intro-wrapper {
  z-index: 2;
}

.intro-roles {
  z-index: 5;
}

.intro-id {
  position: relative;
}

.arrowFont {
  font-family: Darumadrop One;
}

.intro-text {
  font-family: Major Mono Display;
}

.full-identity {
  font-family: Julee;
}

.menu-items {
  font-family: Major Mono Display;
}

.others {
  font-family: Cute Font;
}

.page-content {
  font-family: Alkatra;
}

/* work page  */

.left-side {
  border-radius: 0 48px 48px 0;
  margin: 0;
}

/* about page  */

.photo {
  background-image: url(../public/law1.jpg);
  background-position: initial;
  background-size: cover;
  background-repeat: no-repeat;
  /* box-shadow: inset 10px 10px 150px 10px #a5f3fc; */
}

/* Define the keyframes for the circle animations */
@keyframes circle-anim-left {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100px);
    opacity: 0;
  }
}

@keyframes circle-anim-right {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100px);
    opacity: 0;
  }
}

@keyframes circle-anim-top {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100px);
    opacity: 0;
  }
}

@keyframes circle-anim-bottom {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100px);
    opacity: 0;
  }
}

/* Define the keyframes for the rectangle animations */
@keyframes rect-anim-width {
  0% {
    width: 6px;
  }
  100% {
    transform: translateX(-12px);
    width: 30px;
  }
}

@keyframes rect-anim-height {
  0% {
    height: 6px;
  }
  100% {
    transform: translateY(-12px);
    height: 30px;
  }
}

@keyframes bar {
  0% {
    height: 6px;
  }
  100% {
    height: 39.94px;
    transform: translateY(-16.97px) translateX(0);
  }
}

@keyframes foo {
  0% {
    width: 6px;
  }
  100% {
    width: 39.94px;
    transform: translateX(-16.97px) translateY(0);
  }
}

/* Apply the animations to the circles and rectangles */

/* ////////////////////////////////////////// */

.icons-style:hover circle:nth-child(3) {
  animation: circle-anim-top 0.5s forwards;
}

.icons-style:hover circle:nth-child(5) {
  animation: circle-anim-right 0.5s forwards;
}

.icons-style:hover circle:nth-child(7) {
  animation: circle-anim-bottom 0.5s forwards;
}

.icons-style:hover circle:nth-child(9) {
  animation: circle-anim-left 0.5s forwards;
}

.icons-style:hover rect:nth-child(10) {
  animation: rect-anim-height 0.3s forwards;
}

.icons-style:hover rect:nth-child(11) {
  animation: rect-anim-width 0.3s forwards;
}

/* /////////////////////////////////////// */

.icons-style.open circle:nth-child(2) {
  animation: circle-anim-top 0.5s forwards;
}

.icons-style.open:hover circle:nth-child(2) {
  animation: circle-anim-top 0.5s reverse;
}

.icons-style.open circle:nth-child(3) {
  animation: circle-anim-top 0.5s forwards;
}

.icons-style.open circle:nth-child(4) {
  animation: circle-anim-right 0.5s forwards;
}

.icons-style.open:hover circle:nth-child(4) {
  animation: circle-anim-right 0.5s reverse;
}

.icons-style.open circle:nth-child(5) {
  animation: circle-anim-right 0.5s forwards;
}

.icons-style.open circle:nth-child(6) {
  animation: circle-anim-bottom 0.5s forwards;
}

.icons-style.open:hover circle:nth-child(6) {
  animation: circle-anim-bottom 0.5s reverse;
}

.icons-style.open circle:nth-child(7) {
  animation: circle-anim-bottom 0.5s forwards;
}

.icons-style.open circle:nth-child(8) {
  animation: circle-anim-left 0.5s forwards;
}

.icons-style.open:hover circle:nth-child(8) {
  animation: circle-anim-left 0.5s reverse;
}

.icons-style.open circle:nth-child(9) {
  animation: circle-anim-left 0.5s forwards;
}

.icons-style.open {
  rotate: 45deg;
}

.icons-style.open rect:nth-child(10) {
  animation: foo 0.2s forwards;
}

.icons-style.open rect:nth-child(11) {
  animation: bar 0.2s forwards;
}

@keyframes crossHoverX {
  0% {
    width: 39.94px;
  }
  100% {
    transform: translateX(-12px);
    width: 30px;
  }
}

@keyframes crossHoverY {
  0% {
    height: 39.94px;
  }
  100% {
    transform: translateY(-12px);
    height: 30px;
  }
}

.icons-style.open:hover rect:nth-child(10) {
  animation: crossHoverX 0.2s forwards;
}

.icons-style.open:hover rect:nth-child(11) {
  animation: crossHoverY 0.2s forwards;
}

@keyframes rotate {
  0% {
    rotate: 45deg;
  }
  100% {
    rotate: 0deg;
  }
}

.icons-style.open:hover {
  animation: rotate 0.5s forwards;
}
